.about {
	width: 100%;
	text-align: center;
	margin-bottom: 100px;
}

.aboutIcon {
	background: url(/assets/main/Cookie.png);
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	left: 50%;
	width: 200px;
	height: 200px;
	margin-bottom: 15px;
	transform: translate(-50%, 0);
	image-rendering: pixelated;
}

.siteLink p {
	text-align: center;
}
