body {
	background: linear-gradient(#674492, #19143e);
}

a {
	color: red;
}

a:active {
	color: orange;
}

.remixes {
	width: 100vw;
	text-align: center;
	display: none; /* DEBUG */
}

.remixes div, .remixes a {
	display: inline-block;
	text-align: center;
	line-height: 2em;
	transform: translate(0, -0.5em);
}

#random {
	position: absolute;
	text-align: center;
	left: 50vw;
	transform: translate(-50%, 0);
}

iframe {
	display: none;
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
	position: absolute;
	left: 0px;
	margin-top: 800px;
	border: none;
}

div.song {
	color: white;
	text-shadow: 0px 0.125em 2px black, 0px 0.125em 2px black;
	cursor: pointer;
	font-family: "Press Start 2P", system-ui;
	font-size: 0.75em;
	line-height: 1.5em;
	margin-bottom: 10px;
}

div.song.playing {
	color: #00ffff;
	text-decoration-color: 	#00ffff;
}

div.song:hover {
	color: #ff00ff;
	text-decoration-color: 	#ff00ff99;
}

div.song:active {
	color: orange;
	text-decoration-color: 	#ffa50099;
}

h1 {
	width: 100vw;
	text-align: center;
	font-size: 50px;
}

audio {
	width: 250px;
	height: 2em;
}

.cardContainer {
	width: calc(100% - 40px);
	position: relative;
	left: 20px;
	
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	gap: 30px;
}

#testyGroup {
	--icon: url(/assets/cards/CardTesty.png);
}

#goofyGroup {
	--icon: url(/assets/cards/CardGoofy.png);
}

#spicyGroup {
	--icon: url(/assets/cards/CardSpicy.png);
}

#sugaryGroup {
	--icon: url(/assets/cards/CardSugary.png);
}

#upperSaltGroup {
	--icon: url(/assets/cards/CardUpper.png);
}

#lowerSaltGroup {
	--icon: url(/assets/cards/CardLower.png);
}

#sourGroup {
	--icon: url(/assets/cards/CardSour.png);
}

#sortableGroup {
	--icon: url(/assets/cards/CardSortable.png);
}

#staleGroup {
	--icon: url(/assets/cards/CardStale.png);
}

#remixGroup {
	--icon: url(/assets/cards/CardTesty.png);
}

.card {
	min-width: 300px;
	max-width: 450px;
	width: 25vw;
	
	border-width: 30px;
	border-style: solid;
	border-image: var(--icon);
	border-image-slice: 15 11 10 11 fill;
	border-image-repeat: repeat;
	border-image-width: 150px 110px 100px 110px;
	image-rendering: pixelated;
	
	text-align: center;
}

.cardTitle {
	margin-bottom: 65px;
	color: black;
}

.legal {
	width: calc(100vw - 80px);
	text-align: center;
	line-height: 50px;
}

@media (max-width: 500px) {
	.card {
		min-width: 150px;
		flex-grow: 1;
	}
	
	.cardTitle {
		font-size: 0.75rem;
		transform: translate(0, calc(-50% + 0.5rem));
	}
	
	div.song {
		font-size: 0.75rem;
	}
}